@{
    var modelMetadata = ViewData.ModelMetadata;
    RelationScaffolding.RelationOne2ManyAttribute relationAttribute = modelMetadata.ContainerType.GetMembers().FirstOrDefault(x => x.Name == modelMetadata.PropertyName).GetCustomAttributes(typeof(RelationScaffolding.RelationOne2OneAttribute), false).FirstOrDefault() as RelationScaffolding.RelationOne2ManyAttribute;
    var lookup = new RelationScaffolding.RelationCollectionHelper(ViewData).GetLookup();
}

<ul>
    @foreach (var relationMemberLookup in lookup)
    {
        <li>@relationMemberLookup.SelectedObjectDisplay</li>
    }
</ul>
